@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  /* .project-card {
    @apply
    block
    w-100
    mr-5
    mb-5
    px-6
    py-3
    bg-stone-950
    border-t
    border-l
    border-r-2
    border-b-2
    border-stone-700
    rounded-lg
    hover:shadow-2xl
    hover:shadow-amber-400/20
    hover:border-amber-400
    hover:-translate-y-1
    transition duration-300;
  } */

  .form-text-field {
    @apply
    w-full
    rounded
    bg-stone-900
    border
    border-stone-700
    px-4
    py-2;
  }

  .section-divider {
    @apply
    size-full
    self-center
    border-0
    h-px
    bg-[linear-gradient(to_right,transparent_0%,#fbbf24_20%,#fbbf24_80%,transparent_100%)];
  }
}
