# Database
DB_USERNAME=
DB_PASSWORD=

# Admin Dashboard
ADMIN_USERNAME=
ADMIN_PASSWORD=

# App
RAILS_ENV=
PUMA_PORT=
SECRET_KEY_BASE=

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318
OTEL_TRACES_EXPORTER=otlp
OTEL_SERVICE_NAME=owlflight
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=production
