<% content_for :title, "OwlFlight | Blog | #{ @blog_post.title }" %>

<div class="flex flex-col mx-auto mt-5 mb-20">
  <div class="text-amber-400 text-2xl mb-1"><%= @blog_post.title %></div>

  <div class="italic mb-4 ml-1"><%= @blog_post.formatted_datetime %></div>

  <hr class="section-divider" />
  
  <div class="prose prose-invert mx-auto my-4 px-4 max-w-3xl prose-pre:overflow-x-auto">
    <%= blog_post_markdown(@blog_post) %>
  </div>
</div>
