<div class="bg-black min-w-screen flex justify-center">
  <% navbar_links.each do |button| %>
    <button>
      <%= link_to button[:text], button[:path], class: nav_link_classes(button[:path]) %>
    </button>
  <% end %>
</div>
