<%= link_to project_path(project), class: "project-card" do %>

  <h2 class="text-xl font-semibold text-stone-100">
    <%= project.name %>
  </h2>

  <ul>
    <li class="mt-2">
      <p class="text-stone-400">
        <%= project.description %>
      </p>
    </li>
  </ul>

<% end %>
