<%= link_to project_path(project), class: "entry" do %>
  <div class="entry-glow"></div>
  <div class="entry-border-glow"></div>

  <div class="entry-title"><%= project.name %></div>
  
  <div class="entry-body line-clamp-3"><%= project.description %></div>
<% end %>
