<% content_for :title, "OwlFlight | Projects" %>

<div class="flex flex-col w-full max-w-2xl mx-auto">
  <h1 class="text-3xl font-bold text-amber-400 mb-6">Projects</h1>
  <%= render @projects %>
</div>