<div class="flex flex-row">
  <%= link_to admin_blog_post_path(blog_post), class: "entry" do %>
    <div class="entry-glow"></div>
    <div class="entry-border-glow"></div>

    <div class="entry-title">
      <span class="grow"><%= blog_post.title %></span>
      <span class="entry-date shrink"><%= blog_post.formatted_datetime %></span>
    </div>
    
    <div class="entry-body line-clamp-3"><%= blog_post.description %></div>
  <% end %>
</div>
